<form class='' action='/add_snip' method='post'>


  <h1> Create a Snippet </h1>

  <p>
  <h2> Your Name : </h2>
</p>
<input type='text' name='name' value='' placeholder="Name">

<p>
<h2> Coding Language : </h2>
</p>
<input type='text' name='language' value='' placeholder="Language">

<p>
<h2> Give your snippet a title! </h2>
</p>
<input type='text' name='title' value='' placeholder="Snippet Title">
