<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Login: Code Snippet </title>
    <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <div class='container'>
      <center>
      <h2> The Code Snippet </h2>
      <h3> Sign Up Here </h3>
      {{{yield}}}
    </div>
  </body>
</html>
