<form class='' action='/' method='post'>
  <input type='text' name='username' value='' placeholder='username'>
  <input type='password' name='password' value='' placeholder='password'>
  <button type='submit' name='button'>Login</button>
</form>

<h4> Don't have an account? Sign Up here. </h4>

<a href= '/signup'> Signup </a>
