<link rel='stylesheet' href='./style.css'>


<center>
<form class='' action='/login' method='post'>
  <h2> Login to Clippet Here </h2>
  <input type='text' name='username' value='' placeholder='username'>
  <br>
  <input type='password' name='password' value='' placeholder='password'>
  <br>
  <button type='submit' name='button'>Login</button>
</form>

<h4> Don't have an account? Sign Up here. </h4>
<br>
<a href= '/signup'> Signup </a>
</center>
