<center> <form class='' action'/signup' method='post'>
  <p>
  <input type='text' name='username' value='' placeholder='username'>
</p>
  <input type='text' name='password' value='' placeholder='password'>
  <p>
  <input type='email' name='email'  value='' placeholder='email'>
</p>
    <button type='submit' name='button'>Signup</button>
</form>

<h5> Already have an account? <a href='/login'> Login Here!</a></p>
</center
