<link rel='stylesheet' href='./style.css'>


<center>
<h2> Clip Snip</h2>
<h3> Sign up here to enter
  <br> the coding world of clippets</h3>

<center> <form class='' action'/signup' method='post'>
  <!-- <input type='text' name='firstname' value='' placeholder='First Name'>
<br>
  <input type='text' name='lastname' value='' placeholder='Last Name'> -->
<br>
  <input type='text' name='username' value='' placeholder='Username'>
<br>
  <input type='text' name='password' value='' placeholder='Password'>
<br>
  <!-- <input type='email' name='email'  value='' placeholder='E-mail'> -->
<br>
    <button type='submit' name='button'>Signup</button>
</form>

<h5> Already have an account? <a href='/login'> <br> Login Here!</a></p>
</center
